

body {
    margin: 0;
    padding: 0;
    font-family:Verdana;
}

.navbar {
    background-color: #FFFFFF;
    position: fixed !important;
    z-index: 999;
    top: 0 !important;
    right: 0 !important;
    left: 0;
    width: 100%;
}
.parent-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

main{
    margin-top: 5.2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo .logo-link {
    color: #335576;
    text-decoration: none;
}

.nav-links__ul {
    list-style: none;
    display: flex;
}

.nav-links__li a{
    color: black;
    margin-right: 1.25rem;
    text-decoration: none;
}

.nav-links__li a.active {
    border-bottom: #DB7A4E 2px solid;
    padding-bottom: 0.5rem;
    border-bottom-width: 4px;
}

.footer{
    background-color: #FEFAF5;
    padding: 2rem;
}
.footer-parent{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
}

.footer-hours__details{
    display: flex;
    gap: 1.25rem;
}

.footer-hours__details1, .footer-hours__details2, .footer-hours__details3{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-right: 0;
    margin-left: 0;
} 
.footer__subheading{
    text-align: left;
    color:  #DB7A4E;
    font-size: 0.6rem;
    font-weight: 100;

}
.footer__p, .footer__p1, .footer__p2, .footer__p3{
    color: #335576;
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
}

.footer__p1{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    white-space: nowrap;
}
.footer__p2{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.footer__p3{
    padding: 0;
    margin-right: 0;
    margin-left: 5%;
}

.footer__heading{
    text-align: left;
    border: 0;
    margin-bottom: 1rem 0;
    color: #335576;
}

.social__img1{
    width: 15%;
    margin: 5%;
}
.social__img2{
    width: 7%;
    margin: 5%;
}
.social__img3{
    width: 15%;
    margin: 5%;
}

.footer-social{
    margin-top: 0;
}

.footer__heading--contacts, .footer__heading--hours, .footer__heading--social{
    color: #335576;
}